<p>Ciao <%= @resource.email %>!</p>

<p>Hai richiesto un reset della password. Clicca sul link qui sotto per procedere!</p>

<p><%= link_to 'Cambia la mia password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se non l'hai richiesto ignora questa mail.</p>
<p>La tua password non verrà cambiata finché non accedi al link sopra e non crei una nuova password.</p>
<p>Buon allenamento! <p>
